.sidebar {
    width: 246px;
    border-radius: 0;
    padding: 24px 16px 24px 16px;
    position: fixed;
    height: 100%;
    background-color: #0040C1;
    &__logo {
        height: 68px;
        width: 194px;
        object-fit: contain;
        margin-bottom: 32px;
    }

    &__item {
        font-family: TTInterfaces-Medium , sans-serif ;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: #cdd5df;
        display: flex;
        align-items: center;
        padding: 16px;
        margin-bottom: 8px;
        text-decoration: none;

        &.active {
            background: #155eef;
            border-radius: 6px;
            color: $white;

            font-family: TTInterfaces-DemiBold , sans-serif ;
            font-weight: 600;
        }

        &-img {
            width: 24px;
            height: 24px;
            margin-right: 12px;
        }
    }
}
