@media screen and (max-width:1500px){
    .modal{
        height: 80%;
    }
}

.modal {
    background-color: white;
    width: 584px;
    border-radius: 12px;
    position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

    overflow-y: auto;

    // &__user {
    //     height: 556px;
    // }

    // &__room {
    //     height: 484px;
    // }

    // &__rezerv {
    //     height: auto;
    // }

 


    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px  32px;

        &-title {
            font-family: TTInterfaces-Bold,sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: #121926;
        }

        &-close {
            cursor: pointer;
        }
    }

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__form {
    padding: 0 32px;

        &-group {
            position: relative;
            margin-bottom: 20px;
        }

        &-delete {
            //styleName: regular / 16;
            font-family: TTInterfaces-Regular,sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
margin-bottom: 32px;
            color: #364152;
        }

        &-img {
            position: absolute;
            right: 20px;
            cursor: pointer;
            top: 20px;
        }
    }

    .label {
        font-family: TTInterfaces-Regular,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #364152;
        margin-bottom: 18px;
    }
    .input {
        height: 56px;
        border: 1px solid #cdd5df;
        border-radius: 8px;
        padding: 16px;
        width: 100%;
        font-size: 16px;
        line-height: 22px;
        color: #364152;
        font-weight: 400;
        font-family: TTInterfaces-Regular,sans-serif;

        &__100 {
            width: 100% !important;
        }
        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #697586;
        }
        &__height {
            height: 120px;
        }

        &__height-auto {
            height: auto;
        }

         &[type="date"]::-webkit-calendar-picker-indicator {
            background: url("./images/svg/calendar.svg") no-repeat;
            width: 20px;
            height: 20px;
          
        }

        &[type="time"]::-webkit-calendar-picker-indicator {
            background: url("./images/svg/time.svg") no-repeat;
            width: 20px;
            height: 20px;
        }
    }

    
    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }
    .submit {
        background-color: #155eef;
        color: $white;
        font-family: TTInterfaces-DemiBold,sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        padding: 17px 32px 11px;
        height: 56px;
        border-radius: 8px;
        width: 100%;
        border: 1px solid transparent;
        &:focus {
            outline: none;
        }

        &:first-child {
            margin-right: 12px;
        }
    }

    .submitWhite {
        background-color: $white;
        color: #364152;
        font-family: TTInterfaces-DemiBold,sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        padding: 17px 32px 11px;
        height: 56px;
        border-radius: 8px;
        width: 100%;
        border: 1px solid #cdd5df;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
            margin-right: 12px;
        }

        img {
            margin-left: 12px;
            width: 20px;
            margin-top: -3px;
            height: 16px;
        }
        &:focus {
            outline: none;
        }
    }

    textarea {
        resize: none;
    }

    &-overlay {
        position: fixed;
        top: 0;
        // bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // right: 0;
        z-index: 10;
        // display: flex;
        // justify-content: center;
        background-color: #000000da;
    }
}
