.tippy-box{
    background-color: #4B5565 !important;
}


.tippy-content{
    font-family: TTInterfaces-Medium, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
}

.tippy-arrow {
    color: #4B5565 !important;
}